<!--PHẦN LỌC THEO CÁC NHÃN THẦY YÊU CẦU-->
<div class="col-lg-12">
    <div class="mb-3">
        <!--Tiêu đề trang bổ sung-->
        <h4>Bổ sung</h4>
        <div class="mb-2">
            <!--Tùy chọn radio cho các nhãn với loại sản phẩm bổ sung khác nhau-->
            <input type="radio" class="me-2" id="Categories-1" name="Categories-1" value="Beverages">
            <label for="Categories-1"> Hữu cơ</label>
        </div>
        <div class="mb-2">
            <input type="radio" class="me-2" id="Categories-2" name="Categories-1" value="Beverages">
            <label for="Categories-2"> Tươi mát</label>
        </div>
        <div class="mb-2">
            <input type="radio" class="me-2" id="Categories-3" name="Categories-1" value="Beverages">
            <label for="Categories-3"> Giảm giá</label>
        </div>
        <div class="mb-2">
            <input type="radio" class="me-2" id="Categories-4" name="Categories-1" value="Beverages">
            <label for="Categories-4"> Khuyến mãi</label>
        </div>
        <div class="mb-2">
            <input type="radio" class="me-2" id="Categories-5" name="Categories-1" value="Beverages">
            <label for="Categories-5"> Hết hạn</label>
        </div>
    </div>
</div>
<!--PHẦN LỌC THEO CÁC NHÃN THẦY YÊU CẦU-->