 <!-- Bắt đầu Thanh điều hướng (Navbar) -->
<div class="container-fluid fixed-top">
    <!-- Thanh thông tin phía trên, hiển thị địa chỉ và email -->
    <div class="container topbar bg-primary d-none d-lg-block">
        <div class="d-flex justify-content-between">
            <div class="top-info ps-2">
                <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">279 Nguyễn Tri Phương, phường 4, Quận 10</a></small>
                <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">maiphuong6141992@gmail.com</a></small>
            </div>
            <div class="top-link pe-2">
                <a href="#" class="text-white"><small class="text-white mx-2">Chính sách bảo mật</small>/</a>
                <a href="#" class="text-white"><small class="text-white mx-2">Điều khoản sử dụng</small>/</a>
                <a href="#" class="text-white"><small class="text-white ms-2">Bán hàng và hoàn trả</small></a>
            </div>
        </div>
    </div>
    <!-- Kết thúc Thanh thông tin phía trên -->
</div>
