
@{
    ViewData["Title"] = "Đánh giá";
}

<!-- Tạo phần đánh giá của khách hàng -->
<!-- Tiêu đề của phần đánh giá -->
<div class="container-fluid testimonial py-5">
    <div class="container py-5">
        <div class="testimonial-header text-center">
            <h4 class="text-primary">Đánh giá về chúng tôi</h4>
            <h1 class="display-5 mb-5 text-dark">Khách hàng của chúng tôi nói gì!</h1>
        </div>
        <!-- Tạo dải trượt cho lời đánh giá -->
        <div class="owl-carousel testimonial-carousel">
            <!-- Đánh giá -->
            <div class="testimonial-item img-border-radius bg-light rounded p-4">
                <div class="position-relative">
                    <i class="fa fa-quote-right fa-2x text-secondary position-absolute" style="bottom: 30px; right: 0;"></i>
                    <div class="mb-4 pb-4 border-bottom border-secondary">
                        <!-- Nội dung của lời đánh giá -->
                        <p class="mb-0">
                            Tôi hoàn toàn yên tâm về chất lượng và nguồn gốc tự nhiên của các sản phẩm. Từ ngày sử dụng, sức khỏe của cả gia đình tôi đã cải thiện rõ rệt.
                        </p>
                    </div>
                    <div class="d-flex align-items-center flex-nowrap">
                        <div class="bg-secondary rounded">
                            <!-- Hình ảnh của khách hàng đánh giá -->
                            <img src="~/img/testimonial-1.jpg" class="img-fluid rounded" style="width: 100px; height: 100px;" alt="">
                        </div>
                        <div class="ms-4 d-block">
                            <!-- Tên và công việc của khách hàng đánh giá -->
                            <h4 class="text-dark">Hoàng Thị Ánh</h4>
                            <p class="m-0 pb-3">Giảng viên Đại học</p>
                            <!-- Số sao mà khách hàng đánh giá -->
                            <div class="d-flex pe-5">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Đánh giá-->
            <div class="testimonial-item img-border-radius bg-light rounded p-4">
                <div class="position-relative">
                    <i class="fa fa-quote-right fa-2x text-secondary position-absolute" style="bottom: 30px; right: 0;"></i>
                    <div class="mb-4 pb-4 border-bottom border-secondary">
                        <!-- Nội dung của lời đánh giá -->
                        <p class="mb-0">
                            Dịch vụ chăm sóc khách hàng chu đáo, giao hàng nhanh chóng. Các sản phẩm từ Simple Green luôn tươi ngon và mang lại cảm giác an tâm về dinh dưỡng
                        </p>
                    </div>
                    <div class="d-flex align-items-center flex-nowrap">
                        <div class="bg-secondary rounded">
                            <!-- Hình ảnh của khách hàng đánh giá -->
                            <img src="~/img/testimonial-1.jpg" class="img-fluid rounded" style="width: 100px; height: 100px;" alt="">
                        </div>
                        <div class="ms-4 d-block">
                            <!-- Tên và công việc của khách hàng đánh giá -->
                            <h4 class="text-dark">Võ Hoàng Mai Phương</h4>
                            <p class="m-0 pb-3">Nhân viên văn phòng</p>
                            <!-- Số sao mà khách hàng đánh giá -->
                            <div class="d-flex pe-5">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Đánh giá -->
            <div class="testimonial-item img-border-radius bg-light rounded p-4">
                <div class="position-relative">
                    <i class="fa fa-quote-right fa-2x text-secondary position-absolute" style="bottom: 30px; right: 0;"></i>
                    <div class="mb-4 pb-4 border-bottom border-secondary">
                        <!-- Nội dung của lời đánh giá -->
                        <p class="mb-0">
                            Từ khi sử dụng các loại thực phẩm organic ở đây, bữa ăn của tôi trở nên ngon miệng và lành mạnh hơn. Hương vị tươi mới thật sự khác biệt
                        </p>
                    </div>
                    <div class="d-flex align-items-center flex-nowrap">
                        <div class="bg-secondary rounded">
                            <!-- Hình ảnh của khách hàng đánh giá -->
                            <img src="~/img/testimonial-1.jpg" class="img-fluid rounded" style="width: 100px; height: 100px;" alt="">
                        </div>
                        <div class="ms-4 d-block">
                            <!-- Tên và công việc của khách hàng đánh giá -->
                            <h4 class="text-dark">Nguyễn Tịnh Nhi</h4>
                            <p class="m-0 pb-3">Vũ công/Biên đạo múa</p>
                            <!-- Số sao mà khách hàng đánh giá -->
                            <div class="d-flex pe-5">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Kết thúc phần đánh giá khách hàng -->

