<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - PTUDTMDT</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Phông chữ Google Web -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet">

    <!-- Biểu tượng Phông chữ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Thư viện Stylesheet -->
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Bootstrap Tùy chỉnh -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Stylesheet của Mẫu -->
    <link href="~/css/style.css?v=3" rel="stylesheet" />
</head>
<!--Phần body của một trang web-->
<body>

    <!--BẮT ĐẦU PHẦN HEADER-->
    <!-- Navbar start -->
    <div class="container-fluid fixed-top">
        <!-- Thanh thông tin phía trên, hiển thị địa chỉ và email -->
        <div class="container topbar bg-primary d-none d-lg-block">
            <div class="d-flex justify-content-between">
                <div class="top-info ps-2">
                    <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">279 Nguyễn Tri Phương, phường 4, Quận 10</a></small>
                    <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">Nhom4@ueh.edu.vn</a></small>
                </div>
            </div>
        </div>
        <!-- Kết thúc Thanh thông tin phía trên -->
        <div class="container px-0">
            <nav class="navbar navbar-light bg-white navbar-expand-xl">
                <!--Button đến trang chủ-->
                <a asp-action="Index" asp-controller="AdminHome" class="navbar-brand"><h1 class="text-primary display-6">Simple Green - Admin</h1></a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-primary"></span>
                </button>
                <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                    <div class="navbar-nav mx-auto">

                        <!--Sản phẩm-->
                        <a asp-action="Index" asp-controller="SanPhams" class="nav-item nav-link active">Quản lý Sản phẩm</a>

                        <!--Danh mục sản phẩm-->
                        <a asp-action="Index" asp-controller="LoaiSanPhams" class="nav-item nav-link active">Quản lý Danh mục</a>
                        
                        <!--Mã giảm giá-->
                        <a asp-action="Index" asp-controller="GiamGiums" class="nav-item nav-link active">Quản lý Giảm giá</a>

                    </div>

                    <!--Khu vực trên phải-->
                    <div class="d-flex m-3 me-0">
                        <a href="@Url.Action(User.Identity.IsAuthenticated ? "LogOut" : "Login", "Account", new { area = "" })" class="my-auto">
                            @if (User.Identity.IsAuthenticated)
                            {
                                // Lấy đường dẫn avatar từ claim
                                var avatarUrl = User.Claims.FirstOrDefault(c => c.Type == "avatar")?.Value;
                                if (!string.IsNullOrEmpty(avatarUrl))
                                {
                                    <p>Đăng xuất</p>
                                }
                                else
                                {
                                    <i class="fas fa-user fa-2x"></i>
                                }
                            }
                            else
                            {
                                <i class="fas fa-user fa-2x"></i>
                            }
                        </a>

                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
    <div class="container-fluid py-5">
    </div>
    <!--KẾT THÚC PHẦN HEADER-->


    <div style="min-height:400px; margin-top: 10em">
        @RenderBody()
    </div>

    <!--Phần quay về đầu trang-->
    <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>

    <!-- Thư Viện JavaScript -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/lightbox/js/lightbox.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
