@{
    ViewData["Title"] = "Giỏ Hàng";
    Layout = "_LayoutCustomer";
}

<div class="container-fluid py-5 mt-5">
    <div class="text-center">
        <h2>Cảm ơn bạn đã mua hàng</h2>
        <a href="@Url.Action("ShopIndex","Shop")"
           class="btn border border-secondary rounded-pill px-3 text-primary mt-3 py-2">
            <i class="fa fa-shopping-bag me-2 text-primary"></i>Quay về cửa hàng
        </a>
    </div>
</div>

