
@{
    ViewData["Title"] = "BlogIndex";
}
@model PTUDTMDT.ViewModels.BlogViewModel.BlogIndexViewModel

<h1>BlogIndex</h1>
<a asp-action="BlogDetail">BlogDetail</a>
<a asp-action="BlogDetail1">BlogDetai1l</a>
<a asp-action="BlogDetail2">BlogDetail2</a>

